@import "tailwindcss";

:root {
  --primary-green-200: hsl(148, 38%, 91%);
  --primary-green-600: hsl(169, 82%, 27%);

  --neutral-grey-500: hsl(186, 15%, 59%);
  --neutral-grey-900: hsl(187, 24%, 22%);

  --font-karla: var(--font-karla);
}

@theme inline {
  --color-primary-green-200: var(--primary-green-200);
  --color-primary-green-600: var(--primary-green-600);
  
  --color-neutral-grey-500: var(--neutral-grey-500);
  --color-neutral-grey-900: var(--neutral-grey-900);

  --font-karla: var(--font-karla);

  --animate-fade-in-up: fade-in-up 0.6s ease-out forwards;
  
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}